*{
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.header{
    display: flex;
    align-items: center;
    justify-content: center;

}
.bakGround{
    margin: 5px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.setings{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}
.parametr{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.body{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.code{
    background-color: rgb(168, 168, 168);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: left;
    border-radius: 20px;
    height: 700px;
    width: 20vh;
}
.canvas{
    background-color: white;
    height: 700px;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.code_text{
    margin: 10px;
}
.size{
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.set_size{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.load{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.param{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.display-none{
    display: none;
}
.probel{
    margin: 5px;
}
.param_1{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.param_2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.clear{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.setings_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.palka{
    width: 2px;
    height: 100px;
    background-color: black;
    color: black;
    margin: 10;
}